.pageNav {
  margin: 20px 0;
  list-style: none;
  border: 1px solid #ddd;
  display: flex;
  width: 400px;
  border: 1px solid rgb(202, 176, 231);
  border-radius: 4px;
  & > * {
    cursor: pointer;
    border-top: none;
    border-bottom: none;
    list-style: none;
    flex: 1;
    border-radius: 0;
    &:focus,
    &:active,
    &:hover {
      outline: 0;
      background: rgba(0, 0, 0, 0.05);
    }
  }
  & button:first-of-type,
  & button:last-of-type {
    border: transparent;
  }
  & button:first-of-type {
    border-radius: 4px 0 0 4px;
  }
  & button:last-of-type {
    border-radius: 0 4px 4px 0;
    border-left: 1px solid #e3e3e3;
  }
}
