body {
  margin: 0;
  padding: 1rem;
}

.buttonContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 25%;
}

form {
  display: flex;
  margin: 1rem 0;
  align-items: center;
}

form > * {
  margin: 0 1rem;
}
